.cards {
  /* fonts */
}

.card__list {
  display: grid;
}

.card__image {
  width: 282px;
  height: 282px;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
}
