.modal {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  right: 0;
  z-index: 999;
  /*display: flex;*/
  padding: 0 19px;
  display: none;
}

.modal_opened {
  display: flex;
}

.modal__container {
  position: relative;
  background-color: white;
  margin: auto;
  padding: 34px 36px;
  border-radius: 10px;
  max-width: 430px;
  width: 100%;
}

.modal__heading {
  color: #000000;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  margin: 0;
  margin-bottom: 54px;
}

.modal__close {
  width: 40px;
  height: 40px;
  background-image: url(../images/close.svg);
  cursor: pointer;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: -45px;
  top: -45px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input {
  margin-bottom: 30px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 17px;
  box-sizing: border-box;
  padding: 10px 0 0;
  height: 47px;
}

.modal__button {
  font-size: 18px;
  color: #fff;
  background-color: #000000;
  height: 50px;
  border-radius: 2px;
  margin-top: 18px;
}
